<p>
  <b>Id:</b>
  <%=h @professore.id %>
</p>

<p>
  <b>Nome:</b>
  <%=h @professore.nome %>
</p>

<p>
  <b>Titulo:</b>
  <%=h @professore.titulo %>
</p>

<p>
  <b>Dtadmissao:</b>
  <%=h @professore.dtadmissao %>
</p>

<p>
  <b>Cpf:</b>
  <%=h @professore.cpf %>
</p>


<%= link_to 'Edit', edit_professore_path(@professore) %> |
<%= link_to 'Back', professores_path %>